* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin sizing($width, $height) {
    width: $width;
    height: $height;
    background-color: rgb(214, 234, 240);
    border-radius: 10px;
}

@mixin borderUpLeft($borderW) {
    border-top: $borderW solid rgb(80, 60, 88);
    border-left: $borderW solid rgb(71, 55, 78);
    border-bottom: $borderW solid rgb(17, 14, 24);
    border-right: $borderW solid rgb(17, 14, 24);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6), 0 0 0 1px rgb(17, 14, 24) inset;
}

body {
    @include sizing(80vw, 80vh);
    margin: auto;
    background-color: rgb(153, 199, 214);
    @include flex();
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    z-index: -3;
}

.wrapper {
    @include sizing(auto, auto);
    @include flex();
    flex-direction: column;
    background-color: transparent;
}

.base {
    @include sizing(600px, 300px);
    @include flex;
    @include borderUpLeft(3px);
    background-image: linear-gradient(120deg, rgb(17, 14, 24), rgb(37, 29, 41));
    border-radius: 0.5em;
    gap: 5px;
    position: relative;
    /* z-index: 9999; */
}

.langdiv {
    @include sizing(62px, 72px);
    @include flex;
    @include borderUpLeft(3px);
    border-top: none;
    background-image: linear-gradient(120deg, rgb(17, 14, 24), rgb(37, 29, 41));
    border-radius: 0 0 0.5em 0.5em;
    position: absolute;
    bottom: -52px;
    left: 20px;
    z-index: -2;
    span {
        padding-top: 20px;
        color: rgb(255, 222, 160);
        font-size: 20px;
    }
    &:hover {
        cursor: pointer;
        border-color: rgba(119, 1, 133, 0.3);
        span {
            color: rgb(235, 13, 255);
            /* text-shadow: 1px 0px 2px rgb(240, 80, 255), 0px 1px 2px rgb(240, 80, 255); */
        }
    }
}

.button {
    @include sizing(70px, 60px);
    @include flex;
    @include borderUpLeft(1px);
    background-image: linear-gradient(300deg, rgb(13, 10, 20), rgb(47, 35, 53));
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgb(17, 14, 24);
    span {
        color: rgb(255, 222, 160);
        font-size: 18px;
    }
    &:hover {
        cursor: pointer;
        border-color: rgba(119, 1, 133, 0.3);
        box-shadow: 0px 0px 10px rgba(55, 12, 59, 0.9);
        background-image: linear-gradient(300deg, 300deg, rgb(21, 16, 32), rgb(52, 36, 59));
        /* background-image: linear-gradient(300deg, rgb(48, 22, 51), rgb(63, 32, 77)); */
        span {
            /* color: rgba(235, 13, 255, 0.507); */
            color: rgb(255, 222, 160);
            text-shadow: 1px 0px 2px rgb(240, 80, 255), 0px 1px 2px rgb(240, 80, 255);
        }
    }
    &:active {
        border-color: rgb(235, 13, 255);
        box-shadow: 0px 0px 10px rgba(235, 13, 255, 0.7);
        background-image: radial-gradient( rgb(21, 16, 32), rgb(58, 7, 58));
        span {
            color: rgb(235, 13, 255);
            text-shadow: 0px 0px 10px rgba(235, 13, 255, 0.7)
        }
    }
}

.pressed {
    border-color: rgb(235, 13, 255);
    box-shadow: 0px 0px 10px rgba(235, 13, 255, 0.7);
    background-image: radial-gradient( rgb(21, 16, 32), rgb(58, 7, 58));
    span {
        color: rgb(235, 13, 255);
        text-shadow: 0px 0px 10px rgba(235, 13, 255, 0.7)
    }
}

.base_inside {
    @include sizing(calc(100% - 6px), calc(100% - 6px));
    @include flex;
    background-color: transparent;
    border-radius: inherit;
    border: 3px solid rgba(235, 13, 255, 0.2);
    transform: translate(1px, -1px);
    box-shadow: 0 0 15px 0 rgba(255, 66, 239, 0.2) inset;
}